.structure li {
    font-size: 28px;
    font-weight: bold;
}

.structure input{
    font-size: 14px;
}

input {
    font-size: 20px;
}

table, tr, td {
    font-size: 20px;
    border: 1px solid black;
}

.employee-card input, label, select{
    font-size: 20px;
}

.department-card input, label, select {
    font-size: 20px;
}