@{
	Layout = "_Layout";
}
<!DOCTYPE html>
<html>
	<head>
		<title>Create employee</title>
	</head>
	<body>
		<label>Отдел</label>
		<br>
		<select>
			<option value="dep1">dep1</option>
			<option value="dep2">dep2</option>
		</select>
		<br>
		<label>Фамилия</label>
		<br>
		<input type="text" name="SurName"/>
		<br>
		<label>Имя</label>
		<br>
		<input type="text" name="FirstName"/>
		<br>
		<label>Отчество</label>
		<br>
		<input type="text" name="Patronymic" />
		<br>
		<label>Дата рождения</label>
		<br>
		<input type="date"/>
		<br>
		<label>Возраст</label>
		<br>
		<label>Серия документа</label>
		<br>
		<input type="text"/>
		<br>
		<label>Номер документа</label>
		<br>
		<input type="text"/>
	</body>
</html>